#wrapper {
   width: 1020px;
   height: 2000px;
   margin:4px;
}
nav{
    width: 200px;
    height: 1000px;
    background-color: #bc4e0b;
    float: left;
    margin: 4px;
}
h1, h2, h3, h4, h5, p {
    font-family: arial;
 }
 
body {
  background-color: black;
}
 header {
    background-color: #a7390a;
    width: 796px;
    height: 48px;
    margin: 4px;
    float:right;
 }
 header h1 {
  margin: 0px;
 }
 footer {
   background-color: #6d2900;
   float:right;
   width: 796px;
   height: 48px;
   margin: 4px;
 }
  img, #article1 {
    width: 394px;
    height: 292px;
    margin: 4px;
 }
 #article1 {
   background-color: #dea200;
   float:right;
   margin: 4px;
 }
 p {
  font-size:13pt;
  margin:0px;
 }
 h3 {
  margin:4px;
 }
 #article2 {
   height: 586px;
   width: 796px;
   margin: 4px;
   background-color: #dea200;
   float:right;
   margin: 4px;
 }
 img {
   float:right;
   margin: 4px;
 }
 a img {
  height:150px;
  width:150px;
  margin-right: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding:0px;
  display:block;
 }
 a {
  color:black;
 }
 footer h3 {
  text-align:center;
 }
 nav a {
  color:black;
 }
 #security_img, #security_img img {
  height:796px;
  width:796px;
  margin:4px;
  float:right;
  background-color: #dea200;
 }
 #security_nav {
  height: 912px;
  width: 200px;
  margin:4px;
 }
 nav h2 {
  margin:1px;
  padding:0px;
 }
 